
<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="row">
		<div class="input-field col s5">
			<input id="fromdate" materialize="pickadate"
				[materializeActions]="fromDateAction" type="text"
				[materializeParams]="[{format: 'dd/mm/yyyy'}]"
				formControlName="fromdate" 
				style="font-size: 10px"> <label 
				style="font-size: 10px" for="fromdate">From Date</label>
		</div>

		<div class="input-field col s5" >
			<input style="background-color:#e8eaf6" id="todate" materialize="pickadate"
				[materializeActions]="toDateAction" type="text"
				[materializeParams]="[{format: 'dd/mm/yyyy'}]"
				formControlName="todate" 
				style="font-size: 10px"> <label	
				style="font-size: 10px" for="todate">From Date</label>
		</div>
		
		<div class="row" >
		<div class="custom-select col s8"  stlye= "font-size:0.5rem;padding:2px">	
		<select   class="custom-select"  formControlName="reporttype" name="selectedOption" materialize="material_select" [materializeSelectOptions]="selectOptions">
            <option value="" disabled selected>Report Types..</option>
            <option value="employeeperformance" >Employee Performance</option>
            <option value="ticketslareport" >Ticket SLA report</option>
          </select>
          </div>
          </div>	
	</div>
</form>

