<div style="color:grey;border-bottom:solid grey">
  <h4>Assoicate Checklist</h4>
</div>
<div style="margin-top: 10px;padding-left:10px">
    <div class="col s6 z-depth-1" id="panell">
        <div *ngIf="success" class="card-panel  green "
				style="padding: 5px; margin: 10px">
				<span class="white-text">Successfully Saved Product and Checklist</span>
			</div>
  <div class="row">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="col s12">

        <div class="row" >
      <div class="input-field col s6">
        <select name="singleSelect" formControlName="producttype" name="selectedOption"
         materialize="material_select" [materializeSelectOptions]="selectOptions" (change)="getProductCategory(form.value.producttype)"
          >
          <option value="" disabled selected>Select Type Of Product</option>
          <option *ngFor="let option of selectProductType" [value]="option.value">{{option.name}}</option>
        </select>
   
      </div>
      </div>
      <div class="row" *ngIf="selectProductCategory?.length > 0">
        <div class="input-field col s6">
          <select name="singleSelect" formControlName="category" name="selectedOption"
           materialize="material_select" [materializeSelectOptions]="selectOptions"  (change)="getProductSubCategory(form.value.category)"
            >
            <option value="" disabled selected>Select Product Category</option>
            <option *ngFor="let option of selectProductCategory" [value]="option.value">{{option.name}}</option>
          </select>
     
        </div>
        </div>

        <div class="row" *ngIf="selectProductSubCategory?.length > 0">
          <div class="input-field col s6">
            <select name="singleSelect" formControlName="subcategory" name="selectedOption"
             materialize="material_select" [materializeSelectOptions]="selectOptions" (change)="getProductCompany(form.value.category,form.value.subcategory)"
              >
              <option value="" disabled selected>Select Product SubCategory</option>
              <option *ngFor="let option of selectProductSubCategory" [value]="option.value">{{option.name}}</option>
            </select>
       
          </div>
          </div>
          <div class="row"  *ngIf="selectProductCompany?.length > 0">
            <div class="input-field col s6">
              <select name="singleSelect" formControlName="productid" name="selectedOption"
               materialize="material_select" [materializeSelectOptions]="selectOptions" (change)="getProducts(form.value.producttype,form.value.category,form.value.subcategory,form.value.productid)"
                >
                <option value="" disabled selected>Select Product Brand</option>
                <option *ngFor="let option of selectProductCompany" [value]="option.value">{{option.name}}</option>
              </select>
         
            </div>
            </div>
            <div class="row" >
            <div  *ngIf="productnotfound">
              <label>No Product Found</label>
            </div>
          <div *ngIf="selectProductProducts?.length > 0">
            <div class="input-field col s6">
              <select name="singleSelect" formControlName="productid" name="selectedOption"
               materialize="material_select" [materializeSelectOptions]="selectOptions"
               (change) ="getChecklist(form.value.productid)">
                <option value="" disabled selected>Select Product Name</option>
                <option *ngFor="let option of selectProductProducts" [value]="option.value">{{option.name}}</option>
              </select>
         
            </div>
            </div>
          </div>

          <div *ngIf="checklistnotfound" class="card-panel  red "
				style="padding: 5px; margin: 10px">
				<span class="white-text">Checklist Not Associate with this product</span>
			</div>
          
            <div *ngIf="checklist" class="card-panel "> 
               
              <blockquote>
               Below Checklist is all ready Associated with Product.
              </blockquote>
              <div class="row " *ngIf="existingtaskList?.length > 0">
                <ul class="collection with-header hoverable " >
                  <li class="collection-header  teal accent-3"><h4>  {{checklist.checkListName}}</h4></li>
                  <li *ngFor="let item of existingtaskList" class="collection-item">{{item.name}}</li>
                  
                </ul>
           </div>
              
            </div>
            <div class="card-panel" *ngIf="selectCheckList?.length > 0 " >
                <blockquote>
                    To Change Checklist ,Please select new checklist from dropdown.
                   </blockquote>
              <div class="input-field" >
                <select name="singleSelect" formControlName="checklistid" name="selectedOption"
                 materialize="material_select" [materializeSelectOptions]="selectOptions" (change)="getTasks(form.value.checklistid)"
                  >
                  <option value="" disabled selected>Select New Checklist</option>
                  <option *ngFor="let option of selectCheckList" [value]="option.value">{{option.name}}</option>
                </select>
           
              </div>

              <div class="row" *ngIf="taskList?.length > 0">
                  <ul class="collection with-header " >
                    <li class="collection-header red darken-1"><h4>Task Names</h4></li>
                    <li *ngFor="let item of taskList" class="collection-item">{{item.name}}</li>
                    
                  </ul>
             </div>
            </div>

          
      <button class="waves-effect waves-light btn " id="loginbtn" [disabled]="!form.valid">Associate Checklist</button>
      <button class="waves-effect waves-light btn reset " id="reset" (click)="reset()">Reset</button>
    </form>



  </div>
</div>
</div>