<div style="margin-top:50px">
<div>
    <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">search</i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Search Profile</label>
            </div>
            
          </div>
        </form>
      </div>

</div>

<div class="row container" >
    <div class="{{class}} " *ngFor="let profile of profiles">
      <div class="card">

  
        <div class="card-image" style="padding:10px;">
  

          <img src="/api/profile/getProfileImage" >
          <span class="card-title">{{profile.firstName}}</span>
        </div>
        <div class="card-content">
         
            <table>
<tr>
  <td>Name: {{profile.firstName + profile.lastName}}</td>
  <td>Date Of Birth: {{profile.dateOfBirth}}</td>
  
</tr>

<tr>
    <td>Caste: {{profile.caste}}</td>
    <td>Height: {{profile.heightFeet + "." +profile.heightInch}}</td>
    
  </tr>
  <tr>
      <td>Marital Status: {{profile.marritalStatus}}</td>
      <td>Occupation: {{profile.occupation}}</td>
      
    </tr>

            </table>

        
        </div>
        <div class="card-action center">
          <a href="editprofile/{{profile.id}}">View Profile</a>
        </div>
      </div>
    </div>




  </div>

</div>
