<div class="row container">
    <div class="{{class}} " *ngFor="let number of profiles">
      <div class="card">
        <div class="card-image" style="padding:10px;width:200px;height:200px">
          <img src="/src/assets/profile.jpg" >
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>




  </div>
