<div style="color:grey;border-bottom:solid grey">
<h4>Change Password</h4>
</div>
	<div class="row">
		<div style="margin-top: 10px;padding-left:10px" class="col s6  z-depth-1 " id="panell">

			<form [formGroup]="form" (ngSubmit)="onSubmit()">

				<div *ngIf="passwordChanged" class="card-panel  light-green accent-4 " style="padding:5px;margin:10px">
					<span class="white-text">Password Changed Sucessfully</span>
				</div>


				<div class="input-field" id="usernamediv">
					<input type="text" id="username" class="validate"
						formControlName="username"> <label for="username">Username</label>
				</div>

				<div class="input-field" id="usernamediv">
					<input type="password" id="currentpassword" class="validate"
						formControlName="currentpassword"> <label
						for="currentpassword">Current Password</label>
				</div>

				<div class="input-field" id="usernamediv">
					<input type="password" id="newpassword" class="validate"
						formControlName="newpassword"> <label for="newpassword">New
						Password</label>
				</div>

				<div class="input-field" id="usernamediv">
					<input type="password" id="confirmnewpassword" class="validate"
						formControlName="confirmnewpassword"> <label
						for="confirmnewpassword">Confirm Password</label>
				</div>


				<button
					class="waves-effect waves-light btn light-blue lighten-4 black-text  "
					id="reset">Change Password</button>

			</form>

		</div>
	</div>


