<div style="color: grey; border-bottom: solid grey">
	<h4>Notification Config</h4>
</div>


<div class="row">
	<div style="margin: 10px; padding: 10px"
		class="col s6  z-depth-1 " id="panell">

		<form [formGroup]="form" (ngSubmit)="onSubmit()">

			<div *ngIf="notificationChanged"
				class="card-panel  light-green accent-4 "
				style="padding: 5px; margin: 10px">
				<span class="white-text">Notification updated successfully</span>
			</div>


			<p>
				<input type="checkbox" id="StatusChange" [checked] ="statusChange"
					 formControlName= "statuschange" /> <label for="StatusChange">Notify changes in ticket status </label>
			</p>

			<p>
				<input type="checkbox" id="TicketCreation"
					[checked] ="ticketCreation" formControlName= "ticketcreation"/> <label
					for="TicketCreation"  >Notify when a new ticket is created</label>
			</p>


			<p>
				<input type="checkbox" id="TicketAssignment"
					[checked] ="ticketAssignment" formControlName= "ticketassignment"/> <label
					for="TicketAssignment">Notify when a ticket is assigned to me</label>
			</p>
			
			<button class="waves-effect waves-light btn blue darken-4" id="reset">Update</button>

		</form>

	</div>
</div>
