<table class="row">
	<tr>
		<td class="col s2" style="height: 150px">
			<div class="card  light-green darken-1"
				style="padding-bottom: 5px; height: 130px">
				<div class="w3-container">

					<div class="preloader-wrapper small active"
						*ngIf="showOpenTickets==false">
						<div class="spinner-layer spinner-white-only"
							style="align: center">
							<div class="circler-clipper left">
								<div class="circle"></div>
							</div>
							<div class="gap-patch">
								<div class="circle"></div>
							</div>
							<div class="cricle-clipper right">
								<div class="circle"></div>
							</div>
						</div>

					</div>



					<div *ngIf="showOpenTickets">

						<div class="white-text">
							<span class="card-title-custom">Open Tickets:
								{{openTickets}}</span>
						</div>
						<div class="lime lighten-2 w3-round-xlarge" style="padding: 2px">
							<div class="w3-container w3-round-xlarge white"
								[style.width]="percentOpenTicket">{{percentOpenTicket}}</div>
						</div>
						<div class="white-text">
							<span class="card-title-custom">In-Progress :
								{{ticketsInProgress}}</span>
						</div>

						<div class="lime lighten-2 w3-round-xlarge" style="padding: 2px">
							<div class="w3-container w3-round-xlarge white"
								[style.width]="percentInProgressTicket">{{percentInProgressTicket}}</div>
						</div>
					</div>

				</div>
			</div>
		</td>
		<td class="col s2">
			<div class="card  light-blue darken-2"
				style="padding-bottom: 5px; height: 130px">
				<div class="w3-container">
					<div class="preloader-wrapper small active"
						*ngIf="showOpenTickets==false">
						<div class="spinner-layer spinner-white-only"
							style="align: center">
							<div class="circler-clipper left">
								<div class="circle"></div>
							</div>
							<div class="gap-patch">
								<div class="circle"></div>
							</div>
							<div class="cricle-clipper right">
								<div class="circle"></div>
							</div>
						</div>

					</div>

					<div *ngIf="showOpenTickets">
						<div class="white-text">
							<span class="card-title-custom">Total Customers :
								<span style="font-size:24px">{{totalCustomer}}</span></span>
						</div>

						<div class="white-text">
							<span class="card-title-custom">Total Users :
								<span style="font-size:24px">{{totalUserCount}}</span></span>
						</div>
					</div>
				</div>
			</div>
		</td>
		
		
		<!-- <td class="col s3" style="height: 150px">
			<div class="card   teal lighten-4"
				style="padding-bottom: 5px; height: 130px">
				<div class="w3-container">
				<app-reporting></app-reporting>						
				</div>
			</div>
		</td> -->
		
		
		
		
	</tr>
</table>