<div class="row">


  <div class="col s12">
    <div class="parallax-container">
      <div class="parallax" materialize="parallax"><img src="assets/profile.jpg" ></div>
    </div>
    <div class="section white">
      <div class="row container">
        <div class="col s12">
          <h2 class="header">Suraj Desai</h2>
        </div>

      </div>

      <div class="row container">
        <div class="col s10">
          <h5>Basic Details</h5>
        </div>
        <div class="col s10">
          <div class="divider"></div>
        </div>

      </div>

      <div class="row container">
        <div class="col s6">
          <b>Name</b> : Suraj
        </div>

        <div class="col s6">
            <b>Surname</b> : Patil
        </div>
      </div>

      <div class="row container">
        <div class="col s6">
            <b>Date of birth</b> : 28/08/1987
        </div>
        <div class="col s6">
          <b>Place of Birth</b> : Pune
        </div>

      </div>

      <div class="row container">
        <div class="col s6">
            <b>Religion</b> : Hindu
        </div>
        <div class="col s6">
            <b>Caste</b> : Maratha
        </div>

      </div>

      <div class="row container">
        <div class="col s6">
            <b>Marrital Status</b> : Unmarried
        </div>
        <div class="col s6">
            <b>Height</b> : 5 feet 7 inch
        </div>
      </div>

      <div class="row container">
        <div class="col s6">
            <b>Complexion</b> : fair
        </div>

        <div class="col s6">
            <b>Body Type</b> : Heavy
        </div>
      </div>


      <div class="row container">
        <div class="col s6">
            <b>Challenged</b> : No
        </div>
      </div>

      <div class="row container">
        <div class="col s10">
          <h5>Educational Qualification</h5>
        </div>
        <div class="col s10">
          <div class="divider"></div>
        </div>

      </div>

      <div class="row container">
        <div class="col s6">
          Highest Degree : BE
        </div>
        <div class="col s6">
          UG College : MIT College, Pune
        </div>

      </div>

      <div class="row container">
        <div class="col s6">
          School Name : Bishops,Pune
        </div>
      </div>


      <div class="row container">
        <div class="col s10">
          <h5>Profession Details</h5>
        </div>
        <div class="col s10">
          <div class="divider"></div>
        </div>

      </div>


      <div class="row container">

        <div class="col s6">
          Occupation : Project Manager - IT
        </div>
        <div class="col s6">
          Anual Income : 8 lacs
        </div>
      </div>



      <div class="row container">

        <div class="col s6">
          Company Name : 3i Infotech
        </div>
      </div>

      <div class="row container">
        <div class="col s10">
          <h5>Lifestyle Details</h5>
        </div>
        <div class="col s10">
          <div class="divider"></div>
        </div>

      </div>

      <div class="row container">
        <div class="col s6">
          Dietary Habits : Vegetarian
        </div>

        <div class="col s6">
          Drinking Habits : Occasional
        </div>
      </div>

      <div class="row container">
        <div class="col s6">
          Smoking Habits : No
        </div>
      </div>


      <div class="row container">
        <div class="col s10">
          <h5>Family Details</h5>
        </div>
        <div class="col s10">
          <div class="divider"></div>
        </div>

      </div>

      <div class="row container">
        <div class="col s6">
          Mother Name : Vijayalaxmi
        </div>

        <div class="col s6">
          Mother is  : Housewife
        </div>
      </div>

      
      <div class="row container">
          <div class="col s6">
            Father Name : Vijayalaxmi
          </div>
  
          <div class="col s6">
            Father is  : Business/Entreprenuer
          </div>
      </div>
      
      <div class="row container">
          <div class="col s6">
            Number of Sisters : 2 
          </div>
          <div class="col s6">
              Number of Brothers : 2 
            </div>
      </div>

      <div class="row container">
          <div class="col s6">
            Gothra : 2 
          </div>
          <div class="col s6">
              Number of Brothers : 2 
            </div>
      </div> 

      <div class="row container">
          <div class="col s6">
            Family Income : 15 lac 
          </div>
          <div class="col s6">
             Family Type : Nuclear 
            </div>
      </div>

      
      <div class="row container">
          <div class="col s6">
            Family Values : Conservative 
          </div>
          <div class="col s6">
            Living with Parents : Yes 
            </div>
      </div>

    </div>
  </div>
</div>