<div class="row">

  <div class="col s12">
    <div class="parallax-container">
      <div class="parallax" materialize="parallax"><img src="/api/profile/getProfileImage" ></div>
    </div>
    <div class="section white">
      <div class="row container">
        <div class="col s12">
          <h2 class="header">Suraj Desai</h2>
        </div>

      </div>

      <div class="row container">
        <div class="col s10">
          <h5>Basic Details</h5>
        </div>
        <div class="divider"></div>
          <div class="col s10">
        </div>

      </div>

      <div class="row container">
        <div class="col s6">
          <b>Name</b> : {{profileVo.firstName}}
        </div>

        <div class="col s6">
            <b>Surname</b> : {{profileVo.lastName}}
        </div>
      </div>

      <div class="row container">
        <div class="col s6">
            <b>Date of birth</b> : {{profileVo.dateOfBirth}} 
        </div>
        <div class="col s6">
          <b>Place of Birth</b> : {{profileVo.placeOfBirth}}
        </div>

      </div>

      <div class="row container">
        <div class="col s6">
            <b>Religion</b> : {{profileVo.religion}}
        </div>
        <div class="col s6">
            <b>Caste</b> : {{profileVo.caste}}
        </div>

      </div>

      <div class="row container">
        <div class="col s6">
            <b>Marrital Status</b> : {{profileVo.marritalStatus}}
        </div>
        <div class="col s6">
            <b>Height</b> : {{profileVo.heightFeet}} feet {{profileVo.heightInch}} inch
        </div>
      </div>

      <div class="row container">
        <div class="col s6">
            <b>Complexion</b> : {{profileVo.complexion}}
        </div>

        <div class="col s6">
            <b>Body Type</b> : {{profileVo.bodyType}}
        </div>
      </div>


      <div class="row container">
        <div class="col s6">
            <b>Challenged</b> : {{profileVo.challenged}}
        </div>
      </div>

      <div class="row container">
        <div class="col s10">
          <h5>Educational Qualification</h5>
        </div>
        <div class="col s10">
          <div class="divider"></div>
        </div>

      </div>

      <div class="row container">
        <div class="col s6">
          Highest Degree : {{profileVo.highestDegree}}
        </div>
        <div class="col s6">
          UG College : {{profileVo.collegeName}}
        </div>

      </div>

      <div class="row container">
        <div class="col s6">
          School Name : {{profileVo.companyName}}
        </div>
      </div>


      <div class="row container">
        <div class="col s10">
          <h5>Profession Details</h5>
        </div>
        <div class="col s10">
          <div class="divider"></div>
        </div>

      </div>


      <div class="row container">

        <div class="col s6">
          Occupation : {{profileVo.occupation}}
        </div>
        <div class="col s6">
          Anual Income : {{profileVo.annualIncome}} lacs
        </div>
      </div>



      <div class="row container">

        <div class="col s6">
          Company Name : {{profileVo.companyName}}
        </div>
      </div>

      <div class="row container">
        <div class="col s10">
          <h5>Lifestyle Details</h5>
        </div>
        <div class="col s10">
          <div class="divider"></div>
        </div>

      </div>

      <div class="row container">
        <div class="col s6">
          Dietary Habits : {{profileVo.dietaryHabit}}
        </div>

        <div class="col s6">
          Drinking Habits : {{profileVo.drining}}
        </div>
      </div>

      <div class="row container">
        <div class="col s6">
          Smoking Habits : {{profileVo.smoking}}
        </div>
      </div>


      <div class="row container">
        <div class="col s10">
          <h5>Family Details</h5>
        </div>
        <div class="col s10">
          <div class="divider"></div>
        </div>

      </div>

      <div class="row container">
        <div class="col s6">
          Mother Name : {{profileVo.motherName}}
        </div>

        <div class="col s6">
          Mother is  : {{profileVo.motherIs}}
        </div>
      </div>

      
      <div class="row container">
          <div class="col s6">
            Father Name : {{profileVo.fatherName}}
          </div>
  
          <div class="col s6">
            Father is  : {{profileVo.fatherIs}}
          </div>
      </div>
      
      <div class="row container">
          <div class="col s6">
            Number of Sisters : {{profileVo.numberOfSisters}} 
          </div>
          <div class="col s6">
              Number of Brothers : {{profileVo.numberOfBrothers}}
            </div>
      </div>

      <div class="row container">
          <div class="col s6">
            Gothra : {{profileVo.gothra}}
          </div>
          
      </div> 

      <div class="row container">
          <div class="col s6">
            Family Income : {{profileVo.familyIncome}} 
          </div>
          <div class="col s6">
             Family Type : {{profileVo.familyType}} 
            </div>
      </div>

      
      <div class="row container">
          <div class="col s6">
            Family Values : {{profileVo.familyValues}} 
          </div>
          <div class="col s6">
            Living with Parents : {{profileVo.livingWithParents}} 
            </div>
      </div>

    </div>
  </div>
</div>