<!--<app-my-profile></app-my-profile>-->
<!--<app-create-profile></app-create-profile> -->

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo right hide-on-med-and-down ">Jodi No 1</a>
        <ul id="nav-mobile" class="left">
            <li><a href="#" routerLink="serach" routerLinkActive="active">Search</a></li>
            <li><a href="#" routerLink="myprofile">My Profile</a></li>
            <li><a href="#" routerLink="register" >Register</a></li>
            <li><a href="#" routerLink="editprofile/1">Edit Profile</a></li>
            <li><a href="#" routerLink="search">Search</a></li>
        </ul>
    </div>
</nav>

<div class="row">
<router-outlet></router-outlet>

</div>