<div style="color:grey;border-bottom:solid grey">
  <h4>Create User</h4>
</div>
<div style="margin-top: 10px;padding-left:10px">
    <div class="col s6 z-depth-1" id="panell">
  <div class="row">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="col s12">
        <div *ngIf="customercreated"
				class="card-panel  light-green accent-4 "
				style="padding: 5px; margin: 10px">
				<span class="white-text">User Created successfully</span>
      </div>

      <div *ngIf="userexist"
      class="card-panel   red darken-4 accent-4 "
      style="padding: 5px; margin: 10px">
      <span class="white-text">User Allready Present ,Please Create use with different Email Id</span>
    </div>
      <div class="row">
      <div class="input-field col s6" *ngIf="usertypes?.length > 0">
          <select name="singleSelect" formControlName="usertype" name="selectedOption"
           materialize="material_select" [materializeSelectOptions]="selectOptions"  (change)="selectusertype(form.value.usertype)" 
            >
            <option value="" disabled selected>Select Type Of User</option>
            <option *ngFor="let option of usertypes" [value]="option.value">{{option.name}}</option>
          </select>
     
        </div>
      </div>
      <div class="row" *ngIf="!isind"> 
        <div class="input-field col s6" >
            <select name="singleSelect" formControlName="clientid" name="selectedOption"
             materialize="material_select" [materializeSelectOptions]="selectOptions" 
              >
              <option value="" disabled selected>Select Client Name</option>
              <option *ngFor="let option of clients" [value]="option.value">{{option.name}}</option>
            </select>
       
          </div>
        </div>
        <div class="row">
            

          <div class="input-field col s6" *ngIf="selectOptions?.length > 0">
        <select name="singleSelect" formControlName="type" name="selectedOption"
         materialize="material_select" [materializeSelectOptions]="selectOptions"
          >
          <option value="" disabled selected>Select Type Of User</option>
          <option *ngFor="let option of selectOptions" [value]="option.value">{{option.name}}</option>
        </select>
   
      </div>
      </div>
      <div class="row">
        <div class="input-field col ">
          <input id="input_text" type="text" data-length="30" formControlName="firstname">
          <label for="input_text">First Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="input_text" type="text" data-length="30" formControlName="lastname">
          <label for="input_text">Last Name</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12 " >
            <input id="mobileno" type="text" data-length="10" maxlength="10" formControlName="mobileno" [ngClass]="{
              'invalid': form.controls.mobileno.invalid && form.controls.mobileno.dirty ,
              'valid': form.controls.mobileno.valid && form.controls.mobileno.dirty 
             
            }" [ngStyle]="{'border-bottom:1px solid #F44336': form.controls.mobileno.invalid && form.controls.mobileno.dirty}"c>
            form.controls.mobileno.valid {{form.controls.mobileno.valid}}
            form.controls.mobileno.invalid  {{form.controls.mobileno.invalid}}
            form.controls.mobileno.dirty {{form.controls.mobileno.dirty}}
            <label for="mobileno">Mobile Number</label>
            <span style="color: red"  [hidden]="form.controls.mobileno.valid" >Please Enter Valid Mobile Number</span>
         
            
          </div>
        </div>

      <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate" formControlName="emailid">
            <label for="email">Email</label>
          </div>
        </div>

      <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea2" class="materialize-textarea" data-length="50" formControlName="address"></textarea>
            <label for="textarea2">Address</label>
          </div>
        </div>
       
      <button class="waves-effect waves-light btn " style="margin:4px" id="loginbtn" [disabled]="!form.valid">Create User</button>
      <button class="waves-effect waves-light btn " id="reset" (click)="reset()">Reset</button>
    </form>

    
   








  </div>
  </div>
</div>