<div style="color: grey; border-bottom: solid grey">
	<h4>Ticket Audit</h4>
</div>

<div style="" class="row" (keydown.enter) = "onSearch(ticketid.value,status.value)">

	<div class="col s3">
		<div style="width: 250px">
			<label>Ticket Id :</label><input #ticketid class="search" type="text"
				placeholder="Ticket Id ..">
		</div>
	</div>
	<div class="col s3">
		<div style="width: 250px">
			<label>Status :</label><input #status class="search" type="text"
				placeholder="Status ...">
		</div>
	</div>
</div>
<div class="row">
	<div class="col s3">
		<a class="waves-effect waves-light btn-small"
			(click)="onSearch(ticketid.value,status.value)">Search</a>
	</div>
</div>





<div style="margin: 10px">

	<ng2-smart-table [settings]="settings" [source]="localsource"></ng2-smart-table>

</div>