<p>
  onboardproduct works!

  FR will onboard new product when he visits location of customer...Assign new barcode to device and again  add this product on ticket
</p>
<div style="color:grey;border-bottom:solid grey">
  <h4>Create Ticket</h4>
</div>
<div style="margin-top: 10px;padding-left:10px">
    <div class="col s6 z-depth-1" id="panell">
        <div *ngIf="success" class="card-panel  green "
				style="padding: 5px; margin: 10px">
				<span class="white-text">Successfully Saved Product and Part</span>
			</div>
  <div class="row">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="col s12">

        <div class="row" >
      <div class="input-field col s6">
        <select name="singleSelect" formControlName="producttype" name="selectedOption"
         materialize="material_select" [materializeSelectOptions]="selectOptions" (change)="getProductCategory(form.value.producttype)"
          >
          <option value="" disabled selected>Select Type Of Product</option>
          <option *ngFor="let option of selectProductType" [value]="option.value">{{option.name}}</option>
        </select>
   
      </div>
      </div>
      <div class="row" *ngIf="selectProductCategory?.length > 0">
        <div class="input-field col s6">
          <select name="singleSelect" formControlName="category" name="selectedOption"
           materialize="material_select" [materializeSelectOptions]="selectOptions"  (change)="getProductSubCategory(form.value.category)"
            >
            <option value="" disabled selected>Select Product Category</option>
            <option *ngFor="let option of selectProductCategory" [value]="option.value">{{option.name}}</option>
          </select>
     
        </div>
        </div>

        <div class="row" *ngIf="selectProductSubCategory?.length > 0">
          <div class="input-field col s6">
            <select name="singleSelect" formControlName="subcategory" name="selectedOption"
             materialize="material_select" [materializeSelectOptions]="selectOptions" (change)="getProductCompany(form.value.category,form.value.subcategory)"
              >
              <option value="" disabled selected>Select Product SubCategory</option>
              <option *ngFor="let option of selectProductSubCategory" [value]="option.value">{{option.name}}</option>
            </select>
       
          </div>
          </div>
          <div class="row"  *ngIf="selectProductCompany?.length > 0">
            <div class="input-field col s6">
              <select name="singleSelect" formControlName="productid" name="selectedOption"
               materialize="material_select" [materializeSelectOptions]="selectOptions" (change)="getProducts(form.value.producttype,form.value.category,form.value.subcategory,form.value.productid)"
                >
                <option value="" disabled selected>Select Product Brand</option>
                <option *ngFor="let option of selectProductCompany" [value]="option.value">{{option.name}}</option>
              </select>
         
            </div>
            </div>
            <div class="row" >
            <div  *ngIf="productnotfound">
              <label>No Product Found</label>
            </div>
          <div *ngIf="selectProductProducts?.length > 0">
            <div class="input-field col s6">
              <select name="singleSelect" formControlName="productid" name="selectedOption"
               materialize="material_select" [materializeSelectOptions]="selectOptions"
               (change) ="getChecklist(form.value.productid)">
                <option value="" disabled selected>Select Product Name</option>
                <option *ngFor="let option of selectProductProducts" [value]="option.value">{{option.name}}</option>
              </select>
         
            </div>
            </div>
          </div>

          <div *ngIf="checklistnotfound" class="card-panel  red "
				style="padding: 5px; margin: 10px">
        <span class="white-text">Please Enter Barcode ID</span>
        
        <div class="row">
          <div class="input-field col ">
            <input id="input_text" type="text" data-length="30" formControlName="barcodeid">
            <label for="input_text">Enter Barcode ID</label>
            <span style="color: red"  [hidden]="!(form.controls.barcodeid.invalid && form.controls.barcodeid.dirty)" >Please Enter Valid Barcode ID</span>
          </div>
        </div>
			</div>
          
          
           

          
      <button class="waves-effect waves-light btn " id="loginbtn" [disabled]="!form.valid">Associate Barcode</button>
      <button class="waves-effect waves-light btn reset " id="reset" (click)="reset()">Reset</button>
    </form>



  </div>
</div>
</div>