<div class="row">

  <div class="row container">
    <div class="col s12">
      <h5>Registration</h5>
    </div>
    <div class="col s12">
      <div class="divider"></div>
    </div>
  </div>


  <div class="row container">
    <div class="input-field col s6">
      <input id="first_name" type="text" class="validate">
      <label for="first_name">First Name</label>
    </div>
    <div class="input-field col s6">
      <input id="last_name" type="text" class="validate">
      <label for="last_name">Last Name</label>
    </div>
  </div>


  <div class="row container">
      <div class="input-field col s6">
        <input id="dob" type="text" class="validate">
        <label for="dob">Date of Birth</label>
      </div>
      
    </div>
  



</div>