<div style="color:grey;">
	<h6 class="header"><b>Open Tickets</b></h6>
</div>

<div class="container-admin-grid">

	<ng2-smart-table (editConfirm)="edit($event)" (userRowSelect)="onRowClick($event)" [settings]="settings2" [source]="localsource"></ng2-smart-table>

	<div *ngIf="globalservice.isAuthorizedFunction('assignticket')">
		<div class="actionbtn" *ngIf="enableAssign==true" (click)="onClickAssign()" style="vertical-align: middle">
			<span>Assign</span>
		</div>
		<div class="actionbtn" *ngIf="enableUnAssign==true" (click)="onClickUnAssign()" style="vertical-align: middle">
			<span>Un-Assign</span>
		</div>
	</div>

</div>
<div id="modal1" class="modal container-assign-ticket" materialize="modal" [materializeActions]="modalActions">
	<app-assign-ticket (updateGrid)="onUpdateGrid($event)" [modalAction]="modalActions"></app-assign-ticket>
</div>