<div class="row">

  <div class="col s6 l3 border-background cyan darken-4 white-text" id="style-1">

    <!-- start from here -->

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="col s12">

      <div class="row">
        <div class="col s12">

          <div class="col s5">
            <p>
              <input name="gender" type="radio" id="test1" formControlName="gender" [value]="genders[0]" />
              <label for="test1">Male</label>
            </p>
          </div>
          <div class="col s5">
            <p>
              <input name="gender" type="radio" id="test2" formControlName="gender" [value]="genders[1]" />
              <label for="test2">Female</label>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s9">

          <div class="input-field ">
            <select formControlName="maritalstatus" name="MarritalStatus" name="selectedOption" materialize="material_select" [materializeSelectOptions]="selectOptions"
             >
              <option value="" disabled selected>Marital Status</option>
              <option *ngFor="let option of mariatalstatus" [value]="option.value">{{option.name}}</option>
              <option [value]="Married">Married</option>
            </select>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col s9">
          <div class="input-field">
            <select name="singleSelect" formControlName="education" name="education" materialize="material_select" [materializeSelectOptions]="selectOptions"
             >
              <option value="" disabled selected>Education</option>
              <option *ngFor="let option of Education" [value]="option.value">{{option.name}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s9">
          <div class="input-field">
            <select name="singleSelect" formControlName="state" name="state" materialize="material_select" [materializeSelectOptions]="selectOptions"
               (change)="getCitiesByStates()">
              <option value="" disabled selected>State</option>
              <option *ngFor="let option of state" [value]="option">{{option}}</option>

            </select>
            <label for="state">State</label>
          </div>
        </div>

      </div>





      <div class="row">
        <div class="col s9"  >
            <div class="input-field">
                <select name="singleSelect"  name="district" materialize="material_select" [materializeSelectOptions]="selectOptions"
                  >
              
                  <option *ngFor="let option of district" [value]="option.id">{{option.name}}</option>
                 
    
                </select>
                <label for="district">District</label>
              </div>
        
          
        </div>
      </div>




     



      <div class="row">
        <div class="col s9">
          <div class="input-field">
            <select name="singleSelect" formControlName="age" name="agerange" materialize="material_select" [materializeSelectOptions]="selectOptions"
             >
              <option value="" disabled selected>Age Range</option>
              <option *ngFor="let option of agerange" [value]="option.value">{{option.name}}</option>

            </select>
            <label for="agerange">Age Range</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s9">

          <div class="input-field">
            <select name="singleSelect" formControlName="religion" name="religion" materialize="material_select" [materializeSelectOptions]="selectOptions"
              >
              <option value="" disabled selected>Religion</option>
              <option *ngFor="let option of religion" [value]="option.value">{{option.name}}</option>

            </select>
            <label for="religion">Religion</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s9">
          <div class="input-field ">
            <input id="caste" type="text" formControlName="caste" [ngClass]="{
                  'invalid ng-invalid': form.controls.caste.invalid && form.controls.caste.dirty,
                  'valid': form.controls.caste.valid && form.controls.caste.dirty 
                 
                }">
            <label for="cast">Caste</label>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col s4  center ">
          <button class="waves-effect waves-light btn" style="margin:10px" id="loginbtn" [disabled]="!form.valid">Search</button>
        </div>
      </div>
        <div class="row">
        <div class="col s4 center">
          <button class="waves-effect waves-light btn reset" style="margin:10px" id="reset" (click)="reset()">Reset</button>
        </div>
      </div>
    </form>
    <!-- end here -->

  </div>


  <div class="col s9">
      <app-display-profiles [profiles]="searchResult" [profileVO]="searchCriteria" *ngIf="searchResult.length > 0"></app-display-profiles>
  </div>

</div>