<div>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="col s12">
  <div>

  <div class="row container">
    <div class="col s12">
      <h5>Search</h5>
    </div>
    <div class="col s12">
      <div class="divider"></div>
    </div>
  </div>
</div>

<div class="row container">
  <div class="col s6">
  <div class="col s3">


    <span class="right">Select Gender</span>

  </div>
  <div class="col s3" >
    <p>
      <input name="gender" type="radio" id="test1" formControlName="gender" [value]="genders[0]" 
      />
      <label for="test1">Male</label>
    </p>
  </div>
  <div class="col s3">
    <p>
      <input name="gender" type="radio" id="test2" formControlName="gender" [value]="genders[1]" 
      />
      <label for="test2">Female</label>
    </p>
  </div>
</div>

<div class="col s6 ">
  
 
    <div class="col s3">


      <span class="right">Mariatal Status</span>

    </div>
    <div class="col s9">
      <div class="input-field ">
        <select name="singleSelect" name="selectedOption" materialize="material_select" [materializeSelectOptions]="selectOptions"
          [disabled]="isDisabled?true:null">
                <option value="" disabled selected>Choose your option</option>
                <option *ngFor="let option of mariatalstatus" [value]="option.value">{{option.name}}</option>
                 <option  [value]="Married">Married</option>
              </select>
        <label>Materialize Select</label>
      </div>
    </div>

 
</div>

</div>














<div class="row container ">
    <div class="col s6 ">
  <div class="col s3">


    <span class="right">Education</span>

  </div>
  <div class="col s9">
    <div class="input-field col s6">
      <select name="singleSelect"  name="selectedOption" materialize="material_select" [materializeSelectOptions]="selectOptions"
        [disabled]="isDisabled?true:null">
                <option value="" disabled selected>Choose your option</option>
                <option *ngFor="let option of Education" [value]="option.value">{{option.name}}</option>
                
              </select>
      <label>Materialize Select</label>
    </div>
  </div>
</div>

<div class="col s6 ">
    <div class="col s3">
  
  
      <span class="right">District:</span>
  
    </div>
    <div class="col s9">
      <div class="input-field col s6">
        <select name="singleSelect"  name="selectedOption" materialize="material_select" [materializeSelectOptions]="selectOptions"
          [disabled]="isDisabled?true:null">
                  <option value="" disabled selected>Choose your option</option>
                  <option *ngFor="let option of district" [value]="option.value">{{option.name}}</option>
                  
                </select>
        <label>Materialize Select</label>
      </div>
    </div>
  
  </div>
</div>




<div class="row container ">
    <div class="col s6 ">
  <div class="col s3">


    <span class="right">State:</span>

  </div>
  <div class="col s9">
    <div class="input-field col s6">
      <select name="singleSelect"  name="selectedOption" materialize="material_select" [materializeSelectOptions]="selectOptions"
        [disabled]="isDisabled?true:null">
                <option value="" disabled selected>Choose your option</option>
                <option *ngFor="let option of state" [value]="option.value">{{option.name}}</option>
                
              </select>
      <label>Materialize Select</label>
    </div>
  </div>

</div>



<div class="col s6 ">
    <div class="col s3">
  
  
      <span class="right">Age:</span>
  
    </div>
    <div class="col s9">
      <div class="input-field col s6">
        <select name="singleSelect"  name="selectedOption" materialize="material_select" [materializeSelectOptions]="selectOptions"
          [disabled]="isDisabled?true:null">
                  <option value="" disabled selected>Choose your option</option>
                  <option *ngFor="let option of Education" [value]="option.value">{{option.name}}</option>
                  
                </select>
        <label>Materialize Select</label>
      </div>
    </div>
  
  </div>
</div>

<div class="row container">
    <div class="col s6 ">
  <div class="col s3">


    <span class="right">Religion:</span>

  </div>
  <div class="col s9">
    <div class="input-field col s6">
      <select name="singleSelect"  name="selectedOption" materialize="material_select" [materializeSelectOptions]="selectOptions"
        [disabled]="isDisabled?true:null">
                <option value="" disabled selected>Choose your option</option>
                <option *ngFor="let option of religion" [value]="option.value">{{option.name}}</option>
                
              </select>
      <label>Materialize Select</label>
    </div>
  </div>

</div>

<div class="col s6 ">
    <div class="col s3">


        <span class="right">Caste:</span>
    
      </div>
  <div class="col s9">
    <div class="input-field  ">
      <input id="cast" type="text" class="validate">
      <label for="cast">Cast</label>
    </div>
  </div>

</div>
</div>



<div class="row container">
  <div class="col s3  centre">
<button class="waves-effect waves-light btn "  id="loginbtn" [disabled]="!form.valid">Search</button>
</div>
<div class="col s3 centre">
<button class="waves-effect waves-light btn reset"  id="reset" (click)="reset()">Reset</button>
</div>
</div>
</form>
</div>
<div *ngIf="searchResult.length > 0"  >
    <app-display-profiles [profiles]="searchResult"></app-display-profiles>
</div>

