<div style="color:grey;border-bottom:solid grey">
  <h4>Ticket :: {{ticketId}}</h4>
</div>


<ul materialize="collapsible" class="collapsible" data-collapsible="accordion">




  <li>
    <div class="collapsible-header"><i class="material-icons">details</i>Information</div>
    <div class="collapsible-body" style="padding:10px">
      <div class="row " style="margin: 5px">

        <div class="col s10">

          <div class="container-ticket">
            <div class="col s4">
              <div class="blue lighten-4 border-radius-ticketInfo">
                <h6 style="padding:10px">Status : {{ticketinfo.ticket.status}} </h6>
              </div>


              <div class="blue-grey lighten-5 border-radius-ticketInfo">
                <div class="blue lighten-4 border-radius-ticketInfo">
                  <h6 style="padding:10px">Problem Description</h6>
                </div>
                <div style="padding:10px">
                  {{ticketinfo.ticket.description}}
                </div>

              </div>


            </div>

            <div class="col s4">
              <div class="blue lighten-4 border-radius-ticketInfo">
                <h6 style="padding:10px">Raised By : {{ticketinfo.ticket.createdBy}} </h6>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>
  </li>


  <!-- Product details -->
  <li>
    <div class="collapsible-header"><i class="material-icons">details</i>Materials</div>
    <div class="collapsible-body">
      <div class="row">

        <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">


          <li>
            <div class="collapsible-header"><i class="material-icons">expand_more</i>Products</div>
            <div class="collapsible-body" style="padding:10px">
              <div *ngFor="let item of ticketinfo.productInfos">
                <div class="row">
                  <div class="col s8 ">

                    <div class="blue-grey lighten-5 border-radius-ticketInfo">
                      <div class="blue lighten-4 border-radius-ticketInfo">
                        <h6 style="padding:10px">{{item.product.productName}} </h6>
                      </div>

                      <div style="padding:10px">
                        <h6 style="padding:10px">Checklist :{{item.checkList.checkListName}}</h6>
                        <a materialize="tooltip" class="btn tooltipped" data-position="bottom" data-delay="50" html="<p>Thisi is html tooltip</p>">Checklist
                          :{{item.checkList.checkListName}}
                        </a>

                        <a class="waves-effect waves-light btn modal-trigger" (click)="openModal()">Modal</a>

                        <!-- Modal Structure -->
                        <div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
                          <div class="modal-content">
                            <div *ngFor="let task of item.checkList.tasks">
                              <div>
                                  <div *ngIf="getTaskStatus(task.status)==false">
                                      <div class="blue-grey lighten-5 border-radius-ticketInfo">{{task.desc}}</div>
                                  </div>
                                  <div *ngIf="getTaskStatus(task.status)==true">
                                      true
                                  </div>


                              </div>  

                              <p>
                                <input   type="checkbox" id="{{task.id+item.barcodeId}}" [checked]="task.status" [(ngModel)]="task.status"
                                /> <label for="{{task.id+item.barcodeId}}">{{task.desc}}</label>
                              </p>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

        </ul>


        <div *ngIf="selectedproduct" class="row">

          <span>Product Name:</span> {{selectedproduct.productName}}

          <button class="waves-effect waves-light btn  " id="confirm" (click)="confirm()">Confirm</button>
        </div>

        <div *ngIf="ticketinfo!=undefined">
          <div *ngFor="let item of ticketinfo.productInfos">

            <h4>Product Name : {{item.product.productName}}</h4>
            <h4>Checklist Name :{{item.checkList.checkListName}}</h4>


            <br>
            <h4>
              Tasks
            </h4>
            <div *ngFor="let task of item.checkList.tasks">
              {{task.status}}
              <p>
                <input type="checkbox" id="{{task.id+item.barcodeId}}" [checked]="task.status" [(ngModel)]="task.status" />                <label
                  for="{{task.id+item.barcodeId}}">{{task.desc}}</label>
              </p>
            </div>

            <div class="row" style="margin:50px ;padding: 20px">

              <div class="row">
                <h1>Estimate</h1>
                <app-estimate [productid]="item.product.id" [barcodeid]="item.barcodeId" (valueChange)='addToEstimate($event)'></app-estimate>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </li>


  <!-- last -->
  <li>
    <div class="collapsible-header"><i class="material-icons">details</i>Third</div>
    <div class="collapsible-body">
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </li>
</ul>



<div class="row" style="margin: 30px">

  <div class="row">

    <div class="row">
      <div class="input-field col s6">
        <input id="barcodeid" type="text" class="barcodeid" data-length="10" [(ngModel)]="barcodeid">
        <label for="barcodeid">Barcode ID</label>
      </div>
    </div>
    <button class="waves-effect waves-light btn reset " id="search" (click)="onSubmit()">Search Product</button>
    <button class="waves-effect waves-light btn reset  " id="reset" (click)="reset()">Reset</button>

  </div>



  <div>
    <button class="waves-effect waves-light btn " id="confirm" (click)="saveticketinfo()">Save Ticket</button>
    <button class="waves-effect waves-light btn reset " id="mybutton" (click)="submitticket()">Submit Ticket</button>
  </div>


  <div>
    <app-comment [ticketid]="ticketId"></app-comment>

  </div>
</div>