<div class="row" *ngIf="comments?.length > 0">

  <div *ngFor = "let item of comments" class="row">
      
          <div class="col s8">
            <div class="white border-radius-ticketInfo" style="padding:15px">
              <div class="card-content ">
                <p style="font-size: medium"> <i>{{item.desc}} </i></p>
              </div>
              <div class="card-action" style="padding-bottom: 10px;border-bottom: solid; border-color:silver;border-width: 1px;">
                <span style="color: forestgreen"> <i class="material-icons" style="color:green">account_circle</i>{{item.commentedby}} </span>
                <span style="font-size: smaller;color:rosybrown"><i class="material-icons">access_time</i>{{item.createdAt}}</span>
              </div>
            </div>
          </div>
      
  </div>
</div>  


<div class="row">
    <form class="col s12" [formGroup]="formcomment">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix " style="font-size: 15px">mode_edit</i>
            <textarea id="icon_prefix2" class="materialize-textarea" formControlName="comment"></textarea>
            <label for="icon_prefix2">Enter Comment</label>
          </div>
        </div>
        <button class="waves-effect waves-light btn-small " id="loginbtn" [disabled]="!formcomment.valid" (click)="addcomment()">Add Comment</button>
      </form>
      
</div>